# Entity Resolution project @ Wavestone
## Entity Matching

> *Datasets information from [here](https://data.dws.informatik.uni-mannheim.de/benchmarkmatchingtasks/index.html)*

> **Tristan PERROT**

## Run results

In [13]:
!python result_blocking.py

Using device: cuda
/home/jovyan/.local/lib/python3.10/site-packages/transformers/utils/hub.py:128: FutureWarning: Using `TRANSFORMERS_CACHE` is deprecated and will be removed in v5 of Transformers. Use `HF_HOME` instead.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/torchvision/io/image.py:13: UserWarning: Failed to load image Python extension: '/opt/conda/lib/python3.10/site-packages/torchvision/image.so: undefined symbol: _ZN3c1017RegisterOperatorsD1Ev'If you don't plan on using image functionality from `torchvision.io`, you can ignore this warning. Otherwise, there might be something wrong with your environment. Did you have `libjpeg` or `libpng` installed before building `torchvision` from source?
  warn(
2025-01-29 15:19:50.196181: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-01-29 15:19:50.196212: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-01-29 15:19:50.196945: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
Datasets:   0%|          | 0/3 [00:00<?, ?it/s]
Models:   0%|          | 0/4 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Models:   0%|          | 0/4 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Models:   0%|          | 0/4 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Datasets:   0%|          | 0/3 [00:00<?, ?it/s]
Models:   0%|          | 0/4 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: sentence-transformers/allenai-specter, Order columns: True, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.2957534790039062
Dataset: fodors-zagats, Model: sentence-transformers/allenai-specter, Order columns: True, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.45941424369812
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: sentence-transformers/allenai-specter, Order columns: False, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.7000982761383057
Dataset: fodors-zagats, Model: sentence-transformers/allenai-specter, Order columns: False, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.4912102222442627
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: all-distilroberta-v1, Order columns: True, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.3352530002593994
Dataset: fodors-zagats, Model: all-distilroberta-v1, Order columns: True, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.6671128273010254
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: all-distilroberta-v1, Order columns: False, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.4144909381866455
Dataset: fodors-zagats, Model: all-distilroberta-v1, Order columns: False, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.537214756011963
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: all-mpnet-base-v2, Order columns: True, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.812645196914673
Dataset: fodors-zagats, Model: all-mpnet-base-v2, Order columns: True, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.4248239994049072
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: all-mpnet-base-v2, Order columns: False, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.6280517578125
Dataset: fodors-zagats, Model: all-mpnet-base-v2, Order columns: False, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.524263620376587
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: multi-qa-mpnet-base-dot-v1, Order columns: True, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.563826084136963
Dataset: fodors-zagats, Model: multi-qa-mpnet-base-dot-v1, Order columns: True, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.5934176445007324
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: fodors-zagats, Model: multi-qa-mpnet-base-dot-v1, Order columns: False, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 2.6799964904785156
Dataset: fodors-zagats, Model: multi-qa-mpnet-base-dot-v1, Order columns: False, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 3.445756435394287
Models:   0%|          | 0/4 [00:00<?, ?it/s]
Order columns:   0%|          | 0/2 [00:00<?, ?it/s]
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]
Dataset: amazon-google, Model: sentence-transformers/allenai-specter, Order columns: True, Remove column names: True
Table A columns:
    column_name data_example
1   description          NaN
2  manufacturer   broderbund
3         price          0.0

Table B columns:
    column_name              data_example
1   description  learning quickbooks 2007
2  manufacturer                    intuit
3         price                     38.99

Reordering columns
Table A columns order before: ['name' 'description' 'manufacturer' 'price']
Table B columns order before: ['name' 'description' 'manufacturer' 'price']
Table A columns order after: ['price' 'manufacturer' 'name' 'description']
Table B columns order after: ['price' 'manufacturer' 'name' 'description']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 10.89072871208191
Dataset: amazon-google, Model: sentence-transformers/allenai-specter, Order columns: True, Remove column names: False
Table A columns:
    column_name data_example
1   description          NaN
2  manufacturer   broderbund
3         price          0.0

Table B columns:
    column_name              data_example
1   description  learning quickbooks 2007
2  manufacturer                    intuit
3         price                     38.99

Reordering columns
Table A columns order before: ['name' 'description' 'manufacturer' 'price']
Table B columns order before: ['name' 'description' 'manufacturer' 'price']
Table A columns order after: ['price' 'manufacturer' 'name' 'description']
Table B columns order after: ['price' 'manufacturer' 'name' 'description']
Serialized entities

Model loaded
Table A encoded
Table B encoded
k-NN model fitted
Table A vectorized
Table B vectorized
k-NN model fitted
Training time: 12.833845615386963
Remove column names:   0%|          | 0/2 [00:00<?, ?it/s]

## Import libraries

In [5]:
import os

while 'model' not in os.listdir():
    os.chdir('..')

In [6]:
import re
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix, roc_curve, auc
import matplotlib.pyplot as plt
import seaborn as sns

from model.utils import load_data
import result_blocking
import import_data

Using device: cuda

/home/jovyan/.local/lib/python3.10/site-packages/transformers/utils/hub.py:128: FutureWarning: Using `TRANSFORMERS_CACHE` is deprecated and will be removed in v5 of Transformers. Use `HF_HOME` instead.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/torchvision/io/image.py:13: UserWarning: Failed to load image Python extension: '/opt/conda/lib/python3.10/site-packages/torchvision/image.so: undefined symbol: _ZN3c1017RegisterOperatorsD1Ev'If you don't plan on using image functionality from `torchvision.io`, you can ignore this warning. Otherwise, there might be something wrong with your environment. Did you have `libjpeg` or `libpng` installed before building `torchvision` from source?
  warn(
2025-01-29 15:11:30.149392: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-01-29 15:11:30.179293: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-01-29 15:11:30.179312: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-01-29 15:11:30.180105: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-01-29 15:11:30.185715: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 AVX_VNNI AMX_TILE AMX_INT8 AMX_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [7]:
print('Available models:')
print(result_blocking.MODELS)
print()
print('Available datasets:')
print(result_blocking.DATA_NAMES)

Available models:
['sentence-transformers/allenai-specter', 'all-distilroberta-v1', 'all-mpnet-base-v2', 'multi-qa-mpnet-base-dot-v1']

Available datasets:
['fodors-zagats', 'amazon-google', 'abt-buy']

## Amazon-Google

In [8]:
data_name = 'amazon-google'

table_a_serialized, table_b_serialized, X_train_ids, y_train, X_valid_ids, y_valid, X_test_ids, y_test = load_data(os.path.join(import_data.DATA_FOLDER, data_name))

Table A columns:
    column_name data_example
1   description          NaN
2  manufacturer   broderbund
3         price          0.0

Table B columns:
    column_name              data_example
1   description  learning quickbooks 2007
2  manufacturer                    intuit
3         price                     38.99

Serialized entities

In [11]:
preds = {}
results_dict = {}
for data_name in result_blocking.DATA_NAMES:
    results_dict[data_name] = {}
    table_a_serialized, table_b_serialized, X_train_ids, y_train, X_valid_ids, y_valid, X_test_ids, y_test = load_data(os.path.join(import_data.DATA_FOLDER, data_name))
    for model_name in result_blocking.MODELS:
        results_dict[data_name][model_name] = {}
        for order_cols in result_blocking.LOAD_OPTIONS['order_cols']:
            results_dict[data_name][model_name][order_cols] = {}
            for remove_col_names in result_blocking.LOAD_OPTIONS['remove_col_names']:
                dir_name = f'{data_name}-blocking/{model_name}-order_cols_{order_cols}-remove_col_names_{remove_col_names}'
                pairs = []
                with open(os.path.join(dir_name, 'pairs.csv'), 'r') as f:
                    for line in f:
                        pairs.append([int(x) for x in line.strip().split(',')])
                print(pairs)
                y_pred = [1 if pair in X_test_ids else 0 for pair in pairs]
                y_true = [y_test[X_test_ids.index(pair)] if pair in X_test_ids else 0 for pair in pairs]

                precision = precision_score(y_true, y_pred)
                recall = recall_score(y_true, y_pred)
                f1 = f1_score(y_true, y_pred)
                roc_auc = roc_auc_score(y_true, y_pred)
                accuracy = accuracy_score(y_true, y_pred)
                conf_matrix = confusion_matrix(y_true, y_pred)

                results_dict[data_name][model_name][order_cols][remove_col_names] = {
                    'precision': precision,
                    'recall': recall,
                    'f1': f1,
                    'roc_auc': roc_auc,
                    'accuracy': accuracy,
                    'confusion_matrix': conf_matrix
                }

Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

FileNotFoundError: [Errno 2] No such file or directory: 'fodors-zagats-blocking/sentence-transformers/allenai-specter-order_cols_True-remove_col_names_True/pairs.csv'

In [30]:
for data_name, models in results_dict.items():
    best_f1 = 0
    best_option = None
    for model_name, orders in models.items():
        for order_cols, removes in orders.items():
            for remove_col_names, metrics in removes.items():
                if metrics['f1'] > best_f1:
                    best_f1 = metrics['f1']
                    best_option = (model_name, order_cols, remove_col_names)
    print(f"Dataset: {data_name}, Best F1 Score: {best_f1}, Options: {best_option}")

Dataset: fodors-zagats, Best F1 Score: 1.0, Options: ('cross-encoder/stsb-roberta-base', True, True)
Dataset: amazon-google, Best F1 Score: 0.9034749034749034, Options: ('cross-encoder/stsb-roberta-base', False, True)
Dataset: abt-buy, Best F1 Score: 0.9488372093023256, Options: ('cross-encoder/stsb-roberta-base', False, False)

In [31]:
for data_name, models in results_dict.items():
    for model_name, orders in models.items():
        for order_cols, removes in orders.items():
            for remove_col_names, metrics in removes.items():
                print(f"Dataset: {data_name}, Model: {model_name}, Order Cols: {order_cols}, Remove Col Names: {remove_col_names}")
                print(f"Precision: {metrics['precision']}")
                print(f"Recall: {metrics['recall']}")
                print(f"F1: {metrics['f1']}")
                print(f"ROC AUC: {metrics['roc_auc']}")
                print(f"Accuracy: {metrics['accuracy']}")
                print(f"Confusion Matrix: {metrics['confusion_matrix']}")
                print()

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: True
Precision: 0.9166666666666666
Recall: 1.0
F1: 0.9565217391304348
ROC AUC: 1.0
Accuracy: 0.9848484848484849
Confusion Matrix: [[54  1]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: True
Precision: 0.9166666666666666
Recall: 1.0
F1: 0.9565217391304348
ROC AUC: 1.0
Accuracy: 0.9848484848484849
Confusion Matrix: [[54  1]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: False
Precision: 0.6875
Recall: 1.0
F1: 0.8148148148148148
ROC AUC: 1.0
Accuracy: 0.9242424242424242
Confusion Matrix: [[50  5]
 [ 0 11]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.8854961832061069
Recall: 0.90625
F1: 0.8957528957528957
ROC AUC: 0.9880164194915254
Accuracy: 0.9677033492822966
Confusion Matrix: [[693  15]
 [ 12 116]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.8721804511278195
Recall: 0.90625
F1: 0.8888888888888888
ROC AUC: 0.9881709039548023
Accuracy: 0.965311004784689
Confusion Matrix: [[691  17]
 [ 12 116]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.8931297709923665
Recall: 0.9140625
F1: 0.9034749034749034
ROC AUC: 0.9858205331920904
Accuracy: 0.9700956937799043
Confusion Matrix: [[694  14]
 [ 11 117]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.8455882352941176
Recall: 0.8984375
F1: 0.8712121212121212
ROC AUC: 0.985401218220339
Accuracy: 0.9593301435406698
Confusion Matrix: [[687  21]
 [ 13 115]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.8028169014084507
Recall: 0.890625
F1: 0.8444444444444444
ROC AUC: 0.984573622881356
Accuracy: 0.9497607655502392
Confusion Matrix: [[680  28]
 [ 14 114]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.8449612403100775
Recall: 0.8515625
F1: 0.8482490272373541
ROC AUC: 0.9837349929378532
Accuracy: 0.9533492822966507
Confusion Matrix: [[688  20]
 [ 19 109]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.8235294117647058
Recall: 0.875
F1: 0.8484848484848485
ROC AUC: 0.9840549964689265
Accuracy: 0.9521531100478469
Confusion Matrix: [[684  24]
 [ 16 112]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.8492063492063492
Recall: 0.8359375
F1: 0.84251968503937
ROC AUC: 0.9853129413841808
Accuracy: 0.9521531100478469
Confusion Matrix: [[689  19]
 [ 21 107]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: True
Precision: 0.7941176470588235
Recall: 0.84375
F1: 0.8181818181818182
ROC AUC: 0.9716189971751412
Accuracy: 0.9425837320574163
Confusion Matrix: [[680  28]
 [ 20 108]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: False
Precision: 0.8041958041958042
Recall: 0.8984375
F1: 0.8487084870848709
ROC AUC: 0.9813846221751412
Accuracy: 0.9509569377990431
Confusion Matrix: [[680  28]
 [ 13 115]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: True
Precision: 0.828125
Recall: 0.828125
F1: 0.828125
ROC AUC: 0.9733734992937852
Accuracy: 0.9473684210526315
Confusion Matrix: [[686  22]
 [ 22 106]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: False
Precision: 0.8161764705882353
Recall: 0.8671875
F1: 0.8409090909090909
ROC AUC: 0.9737597104519774
Accuracy: 0.9497607655502392
Confusion Matrix: [[683  25]
 [ 17 111]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.9615384615384616
Recall: 0.9174311926605505
F1: 0.9389671361502347
ROC AUC: 0.9970080446961486
Accuracy: 0.9816901408450704
Confusion Matrix: [[597   4]
 [  9 100]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.9528301886792453
Recall: 0.926605504587156
F1: 0.9395348837209302
ROC AUC: 0.992947533926636
Accuracy: 0.9816901408450704
Confusion Matrix: [[596   5]
 [  8 101]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.9615384615384616
Recall: 0.9174311926605505
F1: 0.9389671361502347
ROC AUC: 0.9941840052511868
Accuracy: 0.9816901408450704
Confusion Matrix: [[597   4]
 [  9 100]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.9622641509433962
Recall: 0.9357798165137615
F1: 0.9488372093023256
ROC AUC: 0.9963821764948327
Accuracy: 0.9845070422535211
Confusion Matrix: [[597   4]
 [  7 102]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.9514563106796117
Recall: 0.8990825688073395
F1: 0.9245283018867925
ROC AUC: 0.9958021035277596
Accuracy: 0.9774647887323944
Confusion Matrix: [[596   5]
 [ 11  98]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.9339622641509434
Recall: 0.908256880733945
F1: 0.9209302325581395
ROC AUC: 0.9932681005663344
Accuracy: 0.976056338028169
Confusion Matrix: [[594   7]
 [ 10  99]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.9433962264150944
Recall: 0.9174311926605505
F1: 0.9302325581395349
ROC AUC: 0.9948098734525027
Accuracy: 0.9788732394366197
Confusion Matrix: [[595   6]
 [  9 100]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.9423076923076923
Recall: 0.8990825688073395
F1: 0.92018779342723
ROC AUC: 0.9933291608786579
Accuracy: 0.976056338028169
Confusion Matrix: [[595   6]
 [ 11  98]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: True
Precision: 0.9230769230769231
Recall: 0.8807339449541285
F1: 0.9014084507042254
ROC AUC: 0.9924285212718863
Accuracy: 0.9704225352112676
Confusion Matrix: [[593   8]
 [ 13  96]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: False
Precision: 0.9019607843137255
Recall: 0.8440366972477065
F1: 0.8720379146919431
ROC AUC: 0.9910241340884458
Accuracy: 0.9619718309859155
Confusion Matrix: [[591  10]
 [ 17  92]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: True
Precision: 0.900990099009901
Recall: 0.8348623853211009
F1: 0.8666666666666667
ROC AUC: 0.9905356515898579
Accuracy: 0.9605633802816902
Confusion Matrix: [[591  10]
 [ 18  91]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: False
Precision: 0.8727272727272727
Recall: 0.8807339449541285
F1: 0.8767123287671232
ROC AUC: 0.9883222152681311
Accuracy: 0.9619718309859155
Confusion Matrix: [[587  14]
 [ 13  96]]