# Entity Resolution project @ Wavestone
## Entity Matching

> *Datasets information from [here](https://data.dws.informatik.uni-mannheim.de/benchmarkmatchingtasks/index.html)*

> **Tristan PERROT**

## Run results

In [ ]:
!python result-sberts.py

Using device: cuda
/home/jovyan/.local/lib/python3.10/site-packages/transformers/utils/hub.py:128: FutureWarning: Using `TRANSFORMERS_CACHE` is deprecated and will be removed in v5 of Transformers. Use `HF_HOME` instead.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/torchvision/io/image.py:13: UserWarning: Failed to load image Python extension: '/opt/conda/lib/python3.10/site-packages/torchvision/image.so: undefined symbol: _ZN3c1017RegisterOperatorsD1Ev'If you don't plan on using image functionality from `torchvision.io`, you can ignore this warning. Otherwise, there might be something wrong with your environment. Did you have `libjpeg` or `libpng` installed before building `torchvision` from source?
  warn(
2025-01-22 11:16:35.574847: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-01-22 11:16:35.604851: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-01-22 11:16:35.604869: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-01-22 11:16:35.605742: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-01-22 11:16:35.610602: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 AVX_VNNI AMX_TILE AMX_INT8 AMX_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
Datasets:   0%|                                           | 0/3 [00:00<?, ?it/s]
Models:   0%|                                             | 0/3 [00:00<?, ?it/s]

Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Models:   0%|                                             | 0/3 [00:00<?, ?it/s]

Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Models:   0%|                                             | 0/3 [00:00<?, ?it/s]

Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]






Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]





Datasets: 100%|█████████████████████████████████| 3/3 [00:00<00:00, 1153.76it/s]
Datasets:   0%|                                           | 0/3 [00:00<?, ?it/s]
Models:   0%|                                             | 0/3 [00:00<?, ?it/s]

Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order columns: True, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Training time: 11.365642547607422



Remove column names:  50%|████████████            | 1/2 [00:12<00:12, 12.21s/it]Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order columns: True, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Training time: 17.75144100189209



Remove column names: 100%|████████████████████████| 2/2 [00:31<00:00, 16.12s/it]




Order columns:  50%|███████████████               | 1/2 [00:31<00:31, 31.07s/it]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order columns: False, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Training time: 10.627101421356201



Remove column names:  50%|████████████            | 1/2 [00:11<00:11, 11.59s/it]Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order columns: False, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Training time: 17.763076782226562



Remove column names: 100%|████████████████████████| 2/2 [00:30<00:00, 15.72s/it]




Order columns: 100%|██████████████████████████████| 2/2 [01:01<00:00, 30.56s/it]


Models:  33%|████████████▎                        | 1/3 [01:01<02:02, 61.27s/it]

Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order columns: True, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities





config.json: 100%|█████████████████████████████| 607/607 [00:00<00:00, 7.15MB/s]




model.safetensors:   0%|                             | 0.00/328M [00:00<?, ?B/s]



model.safetensors:   3%|▋                   | 10.5M/328M [00:00<00:03, 93.6MB/s]



model.safetensors:  10%|██                   | 31.5M/328M [00:00<00:01, 158MB/s]



model.safetensors:  19%|████                 | 62.9M/328M [00:00<00:01, 195MB/s]



model.safetensors:  29%|██████               | 94.4M/328M [00:00<00:01, 211MB/s]



model.safetensors:  38%|████████▍             | 126M/328M [00:00<00:00, 216MB/s]



model.safetensors:  48%|██████████▌           | 157M/328M [00:00<00:00, 222MB/s]



model.safetensors:  57%|████████████▋         | 189M/328M [00:00<00:00, 226MB/s]



model.safetensors:  67%|██████████████▋       | 220M/328M [00:01<00:00, 227MB/s]



model.safetensors:  77%|████████████████▊     | 252M/328M [00:01<00:00, 224MB/s]



model.safetensors:  86%|██████████████████▉   | 283M/328M [00:01<00:00, 228MB/s]



model.safetensors: 100%|██████████████████████| 328M/328M [00:01<00:00, 217MB/s]




tokenizer_config.json: 100%|███████████████████| 148/148 [00:00<00:00, 2.03MB/s]




vocab.json:   0%|                                    | 0.00/899k [00:00<?, ?B/s]



vocab.json: 100%|████████████████████████████| 899k/899k [00:00<00:00, 3.94MB/s]




merges.txt:   0%|                                    | 0.00/456k [00:00<?, ?B/s]



merges.txt: 100%|████████████████████████████| 456k/456k [00:00<00:00, 1.99MB/s]




special_tokens_map.json: 100%|█████████████████| 772/772 [00:00<00:00, 10.9MB/s]
Training time: 5.634052991867065



Remove column names:  50%|████████████            | 1/2 [00:10<00:10, 10.39s/it]Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order columns: True, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Training time: 9.230013847351074



Remove column names: 100%|████████████████████████| 2/2 [00:20<00:00, 10.11s/it]




Order columns:  50%|███████████████               | 1/2 [00:20<00:20, 20.30s/it]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order columns: False, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Training time: 5.632242918014526



Remove column names:  50%|████████████            | 1/2 [00:06<00:06,  6.26s/it]Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order columns: False, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Training time: 9.19659423828125



Remove column names: 100%|████████████████████████| 2/2 [00:16<00:00,  8.38s/it]




Order columns: 100%|██████████████████████████████| 2/2 [00:36<00:00, 17.85s/it]


Models:  67%|████████████████████████▋            | 2/3 [01:37<00:46, 46.66s/it]

Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order columns: True, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities





config.json: 100%|█████████████████████████████| 791/791 [00:00<00:00, 9.53MB/s]




model.safetensors:   0%|                             | 0.00/133M [00:00<?, ?B/s]



model.safetensors:   8%|█▌                  | 10.5M/133M [00:00<00:03, 39.2MB/s]



model.safetensors:  24%|████▋               | 31.5M/133M [00:00<00:01, 97.8MB/s]



model.safetensors:  47%|█████████▉           | 62.9M/133M [00:00<00:00, 151MB/s]



model.safetensors:  71%|██████████████▊      | 94.4M/133M [00:00<00:00, 180MB/s]



model.safetensors: 100%|██████████████████████| 133M/133M [00:00<00:00, 164MB/s]




tokenizer_config.json: 100%|███████████████████| 316/316 [00:00<00:00, 3.10MB/s]




vocab.txt: 100%|█████████████████████████████| 232k/232k [00:00<00:00, 66.2MB/s]




special_tokens_map.json: 100%|█████████████████| 112/112 [00:00<00:00, 1.39MB/s]
Training time: 3.231361150741577



Remove column names:  50%|████████████            | 1/2 [00:06<00:06,  6.49s/it]Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order columns: True, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Reordering columns
Table A columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table B columns order before: ['name' 'addr' 'city' 'phone' 'type']
Table A columns order after: ['phone' 'city' 'type' 'name' 'addr']
Table B columns order after: ['phone' 'city' 'type' 'name' 'addr']
Serialized entities

Training time: 6.039425849914551



Remove column names: 100%|████████████████████████| 2/2 [00:13<00:00,  6.57s/it]




Order columns:  50%|███████████████               | 1/2 [00:13<00:13, 13.12s/it]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order columns: False, Remove column names: True
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Training time: 3.1767783164978027



Remove column names:  50%|████████████            | 1/2 [00:03<00:03,  3.75s/it]Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order columns: False, Remove column names: False
Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Training time: 6.071773052215576



Remove column names: 100%|████████████████████████| 2/2 [00:11<00:00,  5.89s/it]




Order columns: 100%|██████████████████████████████| 2/2 [00:24<00:00, 11.95s/it]


Models: 100%|█████████████████████████████████████| 3/3 [02:01<00:00, 36.43s/it]
Datasets:  33%|███████████▎                      | 1/3 [02:01<04:03, 121.96s/it]
Models:   0%|                                             | 0/3 [00:00<?, ?it/s]

Order columns:   0%|                                      | 0/2 [00:00<?, ?it/s]


Remove column names:   0%|                                | 0/2 [00:00<?, ?it/s]Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order columns: True, Remove column names: True
Table A columns:
    column_name data_example
1   description          NaN
2  manufacturer   broderbund
3         price          0.0

Table B columns:
    column_name              data_example
1   description  learning quickbooks 2007
2  manufacturer                    intuit
3         price                     38.99

Reordering columns
Table A columns order before: ['name' 'description' 'manufacturer' 'price']
Table B columns order before: ['name' 'description' 'manufacturer' 'price']
Table A columns order after: ['price' 'manufacturer' 'name' 'description']
Table B columns order after: ['price' 'manufacturer' 'name' 'description']
Serialized entities

Training time: 774.7980828285217




## Import libraries

In [5]:
import os

while 'model' not in os.listdir():
    os.chdir('..')

In [12]:
import re
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix, roc_curve, auc
import matplotlib.pyplot as plt
import seaborn as sns

from model.utils import load_data
import result_sberts
import import_data

In [13]:
print('Available models:')
print(result_sberts.MODELS)
print()
print('Available datasets:')
print(result_sberts.DATA_NAMES)

Available models:
['cross-encoder/stsb-roberta-base', 'cross-encoder/stsb-distilroberta-base', 'cross-encoder/ms-marco-MiniLM-L-12-v2']

Available datasets:
['fodors-zagats', 'amazon-google', 'abt-buy']

## Amazon-Google

In [ ]:
data_name = 'amazon-google'

table_a_serialized, table_b_serialized, X_train_ids, y_train, X_valid_ids, y_valid, X_test_ids, y_test = load_data(os.path.join(import_data.DATA_FOLDER, data_name))

Loading amazon-google dataset...
Table A columns:
    column_name data_example
1   description          NaN
2  manufacturer   broderbund
3         price          0.0

Table B columns:
    column_name              data_example
1   description  learning quickbooks 2007
2  manufacturer                    intuit
3         price                     38.99

Serialized entities

Dataset loaded.

In [29]:
preds = {}
results_dict = {}
for data_name in result_sberts.DATA_NAMES:
    results_dict[data_name] = {}
    table_a_serialized, table_b_serialized, X_train_ids, y_train, X_valid_ids, y_valid, X_test_ids, y_test = load_data(os.path.join(import_data.DATA_FOLDER, data_name))
    for model_name in result_sberts.MODELS:
        results_dict[data_name][model_name] = {}
        for order_cols in result_sberts.LOAD_OPTIONS['order_cols']:
            results_dict[data_name][model_name][order_cols] = {}
            for remove_col_names in result_sberts.LOAD_OPTIONS['remove_col_names']:
                dir_name = f'{data_name}-{model_name}-order_cols_{order_cols}-remove_col_names_{remove_col_names}'
                logits = pd.read_csv(os.path.join('results', dir_name, 'logits.csv'), names=['idA', 'idB', 'pred'])
                results_dict[data_name][model_name][order_cols][remove_col_names] = {}
                results_dict[data_name][model_name][order_cols][remove_col_names]['precision'] = precision_score(y_test, logits['pred'].values > result_sberts.threshold)
                results_dict[data_name][model_name][order_cols][remove_col_names]['recall'] = recall_score(y_test, logits['pred'].values > result_sberts.threshold)
                results_dict[data_name][model_name][order_cols][remove_col_names]['f1'] = f1_score(y_test, logits['pred'].values > result_sberts.threshold)
                results_dict[data_name][model_name][order_cols][remove_col_names]['roc_auc'] = roc_auc_score(y_test, logits['pred'].values)
                results_dict[data_name][model_name][order_cols][remove_col_names]['accuracy'] = accuracy_score(y_test, logits['pred'].values > result_sberts.threshold)
                results_dict[data_name][model_name][order_cols][remove_col_names]['confusion_matrix'] = confusion_matrix(y_test, logits['pred'].values > result_sberts.threshold)
                fpr, tpr, _ = roc_curve(y_test, logits['pred'].values)
                results_dict[data_name][model_name][order_cols][remove_col_names]['roc_curve'] = (fpr, tpr, auc(fpr, tpr))
                results_dict[data_name][model_name][order_cols][remove_col_names]['logits'] = logits

Table A columns:
  column_name              data_example
1        addr  '435 s. la cienega blv.'
2        city             'los angeles'
3       phone              310/246-1501
4        type                  american

Table B columns:
  column_name           data_example
1        addr  '10801 w. pico blvd.'
2        city              'west la'
3       phone           310-475-3585
4        type               american

Serialized entities

Table A columns:
    column_name data_example
1   description          NaN
2  manufacturer   broderbund
3         price          0.0

Table B columns:
    column_name              data_example
1   description  learning quickbooks 2007
2  manufacturer                    intuit
3         price                     38.99

Serialized entities

Table A columns:
   column_name                                       data_example
1  description  Sony Turntable - PSLX350H/ Belt Drive System/ ...
2        price                                                NaN

Table B columns:
    column_name                                       data_example
1   description  Linksys EtherFast 8-Port 10/100 Switch (New/Wo...
2  manufacturer                                            LINKSYS
3         price                                                NaN

Columns are not the same in both tables
Table A columns: ['name' 'description' 'price']
Table B columns: ['name' 'description' 'manufacturer' 'price']
Serialized entities

In [30]:
for data_name, models in results_dict.items():
    best_f1 = 0
    best_option = None
    for model_name, orders in models.items():
        for order_cols, removes in orders.items():
            for remove_col_names, metrics in removes.items():
                if metrics['f1'] > best_f1:
                    best_f1 = metrics['f1']
                    best_option = (model_name, order_cols, remove_col_names)
    print(f"Dataset: {data_name}, Best F1 Score: {best_f1}, Options: {best_option}")

Dataset: fodors-zagats, Best F1 Score: 1.0, Options: ('cross-encoder/stsb-roberta-base', True, True)
Dataset: amazon-google, Best F1 Score: 0.9034749034749034, Options: ('cross-encoder/stsb-roberta-base', False, True)
Dataset: abt-buy, Best F1 Score: 0.9488372093023256, Options: ('cross-encoder/stsb-roberta-base', False, False)

In [31]:
for data_name, models in results_dict.items():
    for model_name, orders in models.items():
        for order_cols, removes in orders.items():
            for remove_col_names, metrics in removes.items():
                print(f"Dataset: {data_name}, Model: {model_name}, Order Cols: {order_cols}, Remove Col Names: {remove_col_names}")
                print(f"Precision: {metrics['precision']}")
                print(f"Recall: {metrics['recall']}")
                print(f"F1: {metrics['f1']}")
                print(f"ROC AUC: {metrics['roc_auc']}")
                print(f"Accuracy: {metrics['accuracy']}")
                print(f"Confusion Matrix: {metrics['confusion_matrix']}")
                print()

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: True
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: True
Precision: 0.9166666666666666
Recall: 1.0
F1: 0.9565217391304348
ROC AUC: 1.0
Accuracy: 0.9848484848484849
Confusion Matrix: [[54  1]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: False
Precision: 1.0
Recall: 1.0
F1: 1.0
ROC AUC: 1.0
Accuracy: 1.0
Confusion Matrix: [[55  0]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: True
Precision: 0.9166666666666666
Recall: 1.0
F1: 0.9565217391304348
ROC AUC: 1.0
Accuracy: 0.9848484848484849
Confusion Matrix: [[54  1]
 [ 0 11]]

Dataset: fodors-zagats, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: False
Precision: 0.6875
Recall: 1.0
F1: 0.8148148148148148
ROC AUC: 1.0
Accuracy: 0.9242424242424242
Confusion Matrix: [[50  5]
 [ 0 11]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.8854961832061069
Recall: 0.90625
F1: 0.8957528957528957
ROC AUC: 0.9880164194915254
Accuracy: 0.9677033492822966
Confusion Matrix: [[693  15]
 [ 12 116]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.8721804511278195
Recall: 0.90625
F1: 0.8888888888888888
ROC AUC: 0.9881709039548023
Accuracy: 0.965311004784689
Confusion Matrix: [[691  17]
 [ 12 116]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.8931297709923665
Recall: 0.9140625
F1: 0.9034749034749034
ROC AUC: 0.9858205331920904
Accuracy: 0.9700956937799043
Confusion Matrix: [[694  14]
 [ 11 117]]

Dataset: amazon-google, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.8455882352941176
Recall: 0.8984375
F1: 0.8712121212121212
ROC AUC: 0.985401218220339
Accuracy: 0.9593301435406698
Confusion Matrix: [[687  21]
 [ 13 115]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.8028169014084507
Recall: 0.890625
F1: 0.8444444444444444
ROC AUC: 0.984573622881356
Accuracy: 0.9497607655502392
Confusion Matrix: [[680  28]
 [ 14 114]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.8449612403100775
Recall: 0.8515625
F1: 0.8482490272373541
ROC AUC: 0.9837349929378532
Accuracy: 0.9533492822966507
Confusion Matrix: [[688  20]
 [ 19 109]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.8235294117647058
Recall: 0.875
F1: 0.8484848484848485
ROC AUC: 0.9840549964689265
Accuracy: 0.9521531100478469
Confusion Matrix: [[684  24]
 [ 16 112]]

Dataset: amazon-google, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.8492063492063492
Recall: 0.8359375
F1: 0.84251968503937
ROC AUC: 0.9853129413841808
Accuracy: 0.9521531100478469
Confusion Matrix: [[689  19]
 [ 21 107]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: True
Precision: 0.7941176470588235
Recall: 0.84375
F1: 0.8181818181818182
ROC AUC: 0.9716189971751412
Accuracy: 0.9425837320574163
Confusion Matrix: [[680  28]
 [ 20 108]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: False
Precision: 0.8041958041958042
Recall: 0.8984375
F1: 0.8487084870848709
ROC AUC: 0.9813846221751412
Accuracy: 0.9509569377990431
Confusion Matrix: [[680  28]
 [ 13 115]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: True
Precision: 0.828125
Recall: 0.828125
F1: 0.828125
ROC AUC: 0.9733734992937852
Accuracy: 0.9473684210526315
Confusion Matrix: [[686  22]
 [ 22 106]]

Dataset: amazon-google, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: False
Precision: 0.8161764705882353
Recall: 0.8671875
F1: 0.8409090909090909
ROC AUC: 0.9737597104519774
Accuracy: 0.9497607655502392
Confusion Matrix: [[683  25]
 [ 17 111]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.9615384615384616
Recall: 0.9174311926605505
F1: 0.9389671361502347
ROC AUC: 0.9970080446961486
Accuracy: 0.9816901408450704
Confusion Matrix: [[597   4]
 [  9 100]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.9528301886792453
Recall: 0.926605504587156
F1: 0.9395348837209302
ROC AUC: 0.992947533926636
Accuracy: 0.9816901408450704
Confusion Matrix: [[596   5]
 [  8 101]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.9615384615384616
Recall: 0.9174311926605505
F1: 0.9389671361502347
ROC AUC: 0.9941840052511868
Accuracy: 0.9816901408450704
Confusion Matrix: [[597   4]
 [  9 100]]

Dataset: abt-buy, Model: cross-encoder/stsb-roberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.9622641509433962
Recall: 0.9357798165137615
F1: 0.9488372093023256
ROC AUC: 0.9963821764948327
Accuracy: 0.9845070422535211
Confusion Matrix: [[597   4]
 [  7 102]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: True
Precision: 0.9514563106796117
Recall: 0.8990825688073395
F1: 0.9245283018867925
ROC AUC: 0.9958021035277596
Accuracy: 0.9774647887323944
Confusion Matrix: [[596   5]
 [ 11  98]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: True, Remove Col Names: False
Precision: 0.9339622641509434
Recall: 0.908256880733945
F1: 0.9209302325581395
ROC AUC: 0.9932681005663344
Accuracy: 0.976056338028169
Confusion Matrix: [[594   7]
 [ 10  99]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: True
Precision: 0.9433962264150944
Recall: 0.9174311926605505
F1: 0.9302325581395349
ROC AUC: 0.9948098734525027
Accuracy: 0.9788732394366197
Confusion Matrix: [[595   6]
 [  9 100]]

Dataset: abt-buy, Model: cross-encoder/stsb-distilroberta-base, Order Cols: False, Remove Col Names: False
Precision: 0.9423076923076923
Recall: 0.8990825688073395
F1: 0.92018779342723
ROC AUC: 0.9933291608786579
Accuracy: 0.976056338028169
Confusion Matrix: [[595   6]
 [ 11  98]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: True
Precision: 0.9230769230769231
Recall: 0.8807339449541285
F1: 0.9014084507042254
ROC AUC: 0.9924285212718863
Accuracy: 0.9704225352112676
Confusion Matrix: [[593   8]
 [ 13  96]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: True, Remove Col Names: False
Precision: 0.9019607843137255
Recall: 0.8440366972477065
F1: 0.8720379146919431
ROC AUC: 0.9910241340884458
Accuracy: 0.9619718309859155
Confusion Matrix: [[591  10]
 [ 17  92]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: True
Precision: 0.900990099009901
Recall: 0.8348623853211009
F1: 0.8666666666666667
ROC AUC: 0.9905356515898579
Accuracy: 0.9605633802816902
Confusion Matrix: [[591  10]
 [ 18  91]]

Dataset: abt-buy, Model: cross-encoder/ms-marco-MiniLM-L-12-v2, Order Cols: False, Remove Col Names: False
Precision: 0.8727272727272727
Recall: 0.8807339449541285
F1: 0.8767123287671232
ROC AUC: 0.9883222152681311
Accuracy: 0.9619718309859155
Confusion Matrix: [[587  14]
 [ 13  96]]